<div class="app-container">
  <nz-layout class="app-layout">
    <nz-sider class="app-sider" [nzWidth]="320">
      <nz-row>
        <nz-col nzSpan="12"
                *ngFor="let element of elements; let key=index">
          <nz-card nzHoverable
                   style="width:150px;"
                   [nzCover]="coverTemplate">
            <nz-card-meta
              [nzTitle]="element.title">
            </nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img class="element-img"
                 width="150px"
                 height="150px"
                 [id]="key+1"
                 [src]="'src/assets/images/ele/' + element.icon"
                 [alt]="element.title">
          </ng-template>
        </nz-col>
      </nz-row>
    </nz-sider>
    <nz-content class="app-content">
      <div class="tool-bar">
        <button nz-button>导入</button>
        <button nz-button (click)="exportFile()">导出</button>
        <button nz-button>输出XML</button>
        <button nz-button
                (click)="delete()"
                [disabled]="!selectVertex && !selectEdge">
          删除
        </button>
        <button nz-button>导出图片</button>
      </div>
      <div id="graphContainer" #graphContainer>
      </div>
      <nz-select *ngIf="normalTypeSelectVisible"
                 [(ngModel)]="selectVertex['data']['normalType']"
                 class="normal-type-select"
                 (ngModelChange)="changeNormalType($event)"
                 [ngStyle]="{
                    top: normalTypePosition.top,
                    left: normalTypePosition.left
                 }">
        <nz-option *ngFor="let item of normalTypeOptions" [nzLabel]="item.label" [nzValue]="item.icon">

        </nz-option>
      </nz-select>
    </nz-content>
  </nz-layout>
  <div class="outline-wrapper">
    <h4>导航器</h4>
    <div id="graphOutline"></div>
  </div>
</div>
